/* 
====================================
Sets up styles for .sidebar-container 
====================================
*/

.sidebar-container {
    background: linear-gradient(#f8d353, #ff5c5f);
    height: 100%;
    position: fixed;
    padding: 60px;
    width: 180px; 
}

nav {
    top: 0;
}
  
nav a,
nav h2 {
display: block;
position: relative;
text-decoration: none;
}

/* 
====================================
Sets up styles for .content-container 
====================================
*/

/* Positions section container in relation to .sidebar-container */
.section-container {
    background: yellow;
    margin-top: 40px;
    margin-left: 290px;
    padding: 30px 30px;
    height: 100%;

  
}

/* Sets max width for content and align content in middle of section-container */
.content-container {
   background: lightskyblue;
   margin:0 auto;
   max-width: 850px;

}

/* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row-container-no-wrap {
  widows: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row-container {
width: 100%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 15px;
margin-bottom: 15px;

}

.colorBox{
height: 100px;
width: 100px;
background: #f8d353;

}
.row-container-around {
    widows: 100%;
    display: flex;
    /*--- sets spacing between elements---*//
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;

}

/* 
====================================
BONUS: Sets up styles for mobile breakpoint 
====================================
*/

/* Hides mobile navigation on desktop */
.mobile-nav {
    display: none;

   
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

    /* Position nav at the top */
    nav {
        position: fixed;
        left: 0;
    }

    /* Shows Mobile Navigation Styles  */
    .mobile-nav {

       background: white;
       width: 100%;
       padding: 10px 30px;
       display: flex;
       justify-content: flex-start;
       align-content: center;
       height: 80px;
       margin: 0;
       box-shadow: 0 0 10px rgba(0, 0, 0, 4)
    }
    /* Sets max width for logos in mobile nav */
    .mobile-nav img {
        height: 80px;
    }

    /* Hides Sidebar on mobile */
    .sidebar-container {
        display: none;
       
    }
  
    /* Defines mobile container content */
    .section-container {
        background: lightskyblue;
        margin-top: 60px;
        margin-left: 0px;
        height: 100%
      
    }

    /* Sets Type Styles */
     h1 {
        font-size: 1.6em;
     }

    .row-container-no-wrap {
      flex-wrap: wrap;
    }

    #Logo .section-logo {width: 300px;
        height: 100%;
        
       
    }


}

/* 
====================================
BONUS: Sets up css code snippet styles 
====================================
*/

pre {

}
